body {
    
   margin: 0;
    padding: 0;
    background: #fff;
    
}



@media only screen and (min-width: 768px){

    
  /* menu */  
    
    
    
    .icons2 {
        
        display: none;
    }
    
    nav {
        
        position: fixed; 
        width: 100%;
        z-index: 999;
        right: 0;
        left: 0;
        top: -2px;
      
    
    
    }
    
    
    .menu-bar{
        
        
        font-family: sans-serif;
        height: 40px;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 70px;
        padding-top: 10px;
        background: #fff;
    
        
        
        
    }
    
    
    .menu-bar ul {
        
        margin-left: 535px;
    

        
    }
    
    .menu-bar ul li {
        
        
        list-style: none;
        display: inline;
        padding: 25px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
        
           
        
    }  
    
    
    
    .menu-bar ul li a {
        
        text-decoration: none;
        color: #000;
        
        
        
    }
    
     
    .menu-bar ul li a:hover {
        
        
        color: #0fc69c;
    }

    
 .two:hover ~ hr {
     
  margin-left: 12%;
     
}

.three:hover ~ hr {
    
  margin-left: 25%;
    
}

    
    
   .nav hr {    
  height: .12rem;
  width: 8%;
  margin: 0;
  background: #0fc69c;
  border: none;
  transition: .3s ease-in-out;
  margin: 10px;
}
    
    /* icon images */
    
     .facebook {
        
        height: 21px;
        padding-left: 55px;
       
        
    
    }
    
    .twitter {
        
        height: 20px;
        padding-left: 20px;
        
    }
    
    
    .pinterest {
        
        height: 25px;
        width: 25px;
        padding-left: 15px; 
        
    }
    
    .instagram {
        
       height: 25px;
        width: 25px;
        padding-left: 15px;  
        
    }
    
    .youtube {
        
        height: 40px;
        width: 35px; 
        margin-bottom: -8px;
        padding-left: 12px;  
        
        
    }
    
     /* form */
    
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);





.container {
    
    
	
	
    width: 100%;
    height: 600px;
    position: relative;
    background: url(aboutmeimg.png);
    background-size: cover;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
    position: relative;
    top: 25px;
	left: 60px;
	padding:25px;
	margin:50px 0;
    width: 45%;
}

#contact h3 {
	color: #0fc69c;
	display: block;
	font-size: 50px;
    font-family: sans-serif;
	font-weight: 600;
}

#contact h4 {
    margin-top: -20px;
	display:block;
	font-size:25px;
    color: #0fc69c;
    font-family: sans-serif;
}

fieldset {
	
    border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
    
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #0fc69c;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:104%;
	border:none;
	background:#fff;
	color:#0fc69c;
	margin:0 0 5px;
	padding:10px;
	font-size:20px;
    border: 3px solid #0fc69c;
    font-family: sans-serif;
   
}

#contact button[type="submit"]:hover {
	background:#0fc69c;
    color: #fff;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

    
    
}

@media only screen and (max-width: 500px){
    
    
    
 .menu{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: #fff;
    cursor: pointer;
    z-index: 1;
    box-sizing: border-box;
   
    z-index: 2;
     
    
    
    
}

.menu span {
    
    position: absolute;
    width: 30px;
    height: 2px;
    background: #0fc69c;
    display: block;
    top: calc(50% - 1px);
    left: calc(50% - 15px);
    transition: 0.2s;
   
    
    
}

.menu span:nth-child(1) {
    
    transform: translateY(-10px);
}

.menu span:nth-child(3) {
    
    transform: translateY(10px);
}

.menu.active span:nth-child(1) {
    
    transform: translateY(0px)rotate(-45deg);
}

.menu.active span:nth-child(3) {
    
    transform: translateY(0px)rotate(45deg);
}

.menu.active span:nth-child(2) {
    
    transform: translateY(-30px);
    opacity: 0;
}

.menu-bar{
    
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 60px;
   background: #fff;
   transition: 0.5s;
   transform: translatex(-100%);
   z-index: 1;
    
}

.menu-bar.active{
    
    transform: translatex(0);
    
}

.menu-bar ul {
    
    display: flex;
    margin: 0;
    padding: 0;
    float: right;

    
}

.menu-bar ul li {
    
    list-style: none;
}

.menu-bar ul li a{
    
    line-height: 60px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #262626;
    text-decoration: none;
    padding: 0 20px;
    display: block;
    border-right: 1px solid rgba(0,0,0,.1);
}

.menu-bar ul li a:hover{
    
    color: #0fc69c;
    
    
}

.menu-bar ul li:last-child a{
      
    border-right: none;

    
}

    
    
    .menu-bar{
        
        height: auto;
    
    }
    
    .menu-bar ul{
        
        display: inherit;
        float: none;
        text-align: center;
        width: 100%;
        height: 100vh;
   
    }
    
    
     .facebook {
        
        height: 21px;
    
 }
    
    .twitter {
        
        height: 20px;
        padding-left: 20px;
        
    }
    
    
    .pinterest {
        
        height: 25px;
        width: 25px;
        padding-left: 15px; 
        
    }
    
    .instagram {
        
       height: 25px;
        width: 25px;
        padding-left: 15px;  
        
    }
    
    .youtube {
        
        height: 40px;
        width: 35px; 
        margin-bottom: -8px;
        padding-left: 12px;  
        
        
    }
    
    
    
    

    .icons2 {
        
        margin-left: 80px;
        padding-top: 10px;
        z-index: 1;
       
    
        
       
    }
    
    .nav hr {
        
        display: none;
    }
    

    
    .icons2 img {
        
        padding-right: 24px;
    }
    
    .icons2 .facebook  {
        
         
        position: relative;
        top: 1px;
    }
    
    .icons2 .twitter {
        
        position: relative;
        top: 2px;
        
    }
  
    
    .icons2 .pinterest {
        
        position: relative;
        top: 4px;
        
    }
    
    .icons2 .instagram {
        
        
        position: relative;
        top: 5px;
        
        
    }
    
    .icons2  .youtube {
        
        position: relative;
        top: 4px;
    }
    
    /* form */
    
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);





.container {
	
     width: 100%;
    height: 600px;
    position: relative;

}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	
    position: relative;
    right: 10px;
	padding:25px;
	margin:50px 0;
    
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
    color: #0fc69c;;
}

#contact h4 {
	margin-top: -10px;
	display:block;
	font-size:16px;
    color: #0fc69c;
    
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #0fc69c;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:106%;
	border:none;
	background:#fff;
	color:#0fc69c;;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
    border: 3px solid #0fc69c;
}

#contact button[type="submit"]:hover {
	background:#0fc69c;
    color: #fff;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

    
}